/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --blue-950: hsl(256, 26%, 20%);
  --blue-500: hsl(216, 30%, 68%);
  /* # NEUTRAL # */
  --gray-950: hsl(270, 9%, 17%);
  --gray-700: hsl(273, 4%, 51%);
  --gray-50: hsl(0, 0%, 98%);
  /* # TYPOGRAPHY # */
  --ff-dm-serif-display: "DM Serif Display", serif;
  --ff-karla: "Karla", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  display: block;
}

/* ### UTILITY CLASSES ### */

.hide {
  display: none;
}

.link-accent {
  border: 1px solid var(--gray-50);
  padding: 1rem 1.8rem;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-karla);
  font-weight: var(--fw-400);
}

h1,
h2,
h3 {
  font-family: var(--ff-dm-serif-display);
  font-weight: var(--fw-700);
}

/* ### HEADER ### */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 1.5rem;
}
