/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --blue-950: hsl(256, 26%, 20%);
  --blue-500: hsl(216, 30%, 68%);
  /* # NEUTRAL # */
  --gray-950: hsl(270, 9%, 17%);
  --gray-700: hsl(273, 4%, 51%);
  --gray-50: hsl(0, 0%, 98%);
  /* # TYPOGRAPHY # */
  --ff-dm-serif-display: "DM Serif Display", serif;
  --ff-karla: "Karla", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  display: block;
}

/* ### UTILITY CLASSES ### */

.hide {
  display: none;
}

.link-accent {
  border: 1px solid var(--gray-50);
  padding: 1rem 1.8rem;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-karla);
  font-weight: var(--fw-400);
}

h1,
h2,
h3 {
  font-family: var(--ff-dm-serif-display);
  font-weight: var(--fw-700);
}

main {
  padding-bottom: 8rem;
}

/* ### HEADER ### */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 1.5rem;
}

.nav-icon {
  cursor: pointer;
}

dialog {
  background-color: var(--gray-950);
  color: var(--gray-50);
  font-weight: var(--fw-700);
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  top: 100px;
  padding: 3rem 1.5rem;
  min-height: 612px;
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

dialog nav ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: stretch;
}

dialog a.link-accent {
  width: 100%;
}

/* ### "HUMANIZING" SECTION ### */

.humanizing-section {
  background-color: var(--blue-950);
  position: relative;
}

.humanizing-section::after {
  content: "";
  position: absolute;
  bottom: -176px;
  right: 0;
  display: block;
  width: 124px;
  height: 330px;
  background-image: url(./images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.humanizing-section .grid {
  display: grid;
  grid-template-areas:
    "img"
    "content";
}

.grid__content {
  grid-area: content;
  text-align: center;
  color: var(--gray-50);
  padding: 6.5rem 1.5rem;
  background-image: url(./images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

.grid__content h1 {
  line-height: 1.2;
  font-size: 2.8rem;
}

.grid__content p {
  line-height: 1.8;
  margin-top: 1.2rem;
  font-size: 1.025rem;
}

.grid__content a {
  margin-top: 1.8rem;
  padding-inline: 2rem;
  font-weight: var(--fw-700);
  letter-spacing: 3px;
}

.grid__img {
  grid-area: img;
}

/* ### "WE ARE DIFFERENT" SECTION ### */

.we-are-different-section {
  padding: 8rem 1.5rem;
  text-align: center;
}

.we-are-different-section::before {
  content: "";
  display: block;
  height: 2px;
  width: 45%;
  margin-inline: auto;
  background-color: #c2b3c3;
}

.we-are-different-section h2 {
  font-size: 2.4rem;
  padding-top: 2.5rem;
}

.cards-container {
  margin-top: 4rem;
  display: grid;
  gap: 3.5rem;
}

.card {
  text-align: center;
  display: grid;
  justify-items: center;
}

.card__img {
  width: 80px;
}

.card__title {
  margin-top: 1.8rem;
  font-size: 1.6rem;
  font-weight: var(--fw-700);
  font-family: var(--ff-dm-serif-display);
}

.card__p {
  margin-top: 1rem;
  line-height: 1.6;
  font-size: 1.035rem;
}

/* ### CALL TO ACTION ### */

.cta-section {
  padding: 4.5rem 2rem;
  background-color: var(--blue-950);
  color: var(--gray-50);
  margin-inline: 1.5rem;
  text-align: center;
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.cta-section h2 {
  font-size: 2.325rem;
  line-height: 1.1;
  font-weight: var(--fw-400);
}

.cta-section a {
  margin-top: 2.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: var(--fw-700);
}

/* ### FOOTER ### */

footer {
  background-color: var(--gray-50);
  padding: 5.5rem 1.5rem;
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.row-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 2rem;
}

.social-icons ul {
  display: flex;
  gap: 0.8rem;
}

.row-2 {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ft-item {
  text-align: center;
  font-weight: var(--fw-700);
  color: var(--gray-950);
  text-transform: uppercase;
  font-size: 0.875rem;
}

.ft-item h2 {
  font-family: var(--ff-karla);
  font-size: 1rem;
  color: var(--gray-700);
  font-size: 0.85rem;
}

.ft-item ul {
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
